.nav
  %ul
    %li= link_to "/authors",  'Authors'
    %li= link_to "/tags",     'Tags'
    %li= link_to "/titles",   'Titles'
    %li= link_to "/starred",  "Starred"
    %li= link_to "/quotes",   'Quotes'