.row
  %h3.pull-left= show_publication_information_for quote
  %ul.pull-right.nav.navbar-nav
    %li= link_to "/quote/edit/#{quote.uid}", 'edit' if current_user_owns?(quote)
    %li= link_to "/quote/delete/#{quote.uid}", 'delete' if current_user_owns?(quote)
    %li= link_to "/quote/#{quote.uid}", 'permalink'

%blockquote
  %p= markdown quote.content

%nav
  %ul.nav.navbar-nav
    %li.center-text.glyphicon.glyphicon-tags
    - quote.tags.each do |tag|
      %li= link_to "/tag/#{tag}", tag

.row
